@use './scss/reset';

@import './scss/media';

html,
body {
  font-family: Lato, 'Noto Sans TC', sans-serif;
  background-color: #fff;

  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  width: 100%;
  height: 100vh;
}
