$primary: #1e93c4;
$secondary: #9ba8b1;
$success: #4cbcad;
$danger: #f08273;
$box_shadow: rgba(
  $color: #000,
  $alpha: 10%,
);
$star: #ffa048;
$text_primary: #4f5763;
$text_secondary: #7f848a;
$border: #e4e4e4;
$card_bdrs: 0.5rem;
