@import '../../scss/color';
@import 'https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap';

.section {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 2rem 0;

  background: url('../../assets/bg.jpg');
  background-size: cover;

  &::after {
    content: '';

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba($color: #fff, $alpha: 40%);
    backdrop-filter: blur(4px);
  }
}

.title {
  position: relative;
  z-index: 99;

  font-family: Alkatra, cursive;
  font-size: 3rem;
  font-weight: 500;
  color: $primary;
  text-align: center;
  text-shadow: 3px 2px #fff;
}

.container {
  position: relative;
  z-index: 99;

  display: flex;
  flex: 1;
  gap: 2rem;

  width: 100%;
  height: 0;
  padding: 2rem;
}

.left_part {
  flex: 1;
}

.right_part {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  width: 50%;
  max-width: 700px;
}

.progress,
.error {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  width: 40%;
  min-width: 400px;
  height: 50%;
  margin: 15vh auto auto;

  background-color: rgba($color: #fff, $alpha: 60%);
  backdrop-filter: blur(8px);
  border-radius: 1rem;

  & h3 {
    display: flex;
    gap: 1rem;
    align-items: center;

    font-size: 2rem;
    font-weight: 500;
    color: #898989;
  }
}

.error h3 {
  color: #fe745f;
}
